@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
body {
    margin: 0;
    background-color: lightblue;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: #000 5px solid;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
h1{
    padding-left: 10px;
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
}
h2{
  padding-left: 10px;
  font-size: 40px;
  font-family: 'Archivo Black', sans-serif;
}
i{
    padding-left: 10px;
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
}
hr{
    border: 3px solid black;
}
#otsikko{
    float: right;
    width: 145%;
    text-align: center;
}


.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 360px;
  margin-left: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


}

.dropdown-content a {
  color: black;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}